body{
    background-color:#178388;
}
.logo{
    background-color:#ffffff;
    padding:.5rem;
    width: 4rem;
    margin:.5rem;
}
h1, h2{
    margin:2rem;
    text-align:center;
}
h1{
    background-color:#ffffff;
    font-size:26px;
    padding:1.2rem 1rem 1.2rem;
}
header{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
}
nav{
    padding:.5rem;
    display:block;
    margin:auto;
}
nav a{
    font-size:18px;
    padding:.5rem 1rem;
    text-decoration:none;
    background-color:#fffeee;
    color:#000000;
    
}
nav a:hover{
    background-color:#abebeb;
}
main img{
    width:400px;
    display:block;
    margin:auto;
}
main>div:nth-child(even){
    background-color:#fffeee;
    padding:0.5rem 0.5rem 1rem 0.5rem;
    margin:0.5rem;
}
main>div:nth-child(odd){
    background-color:#ffffff;
    padding:0.5rem 0.5rem 1rem 0.5rem;
    margin:0.5rem;
}
.table img{
    width:200px;
}
label,input{
    display:block;
}
.gallery img{
    padding:1rem;
}
@media (min-width:600px){
    nav{
        display:block;
        margin:auto; 
    }
    nav a{
        margin:0 .5rem 0 .5rem;
    }
    h1{
        font-size:30px;
    }
    h2{
        font-size:25px;
    }
    @media (min-width:940px){
    h1{
        font-size:50px;
    }
    h2{
        font-size:40px;
    }
    .logo{
        width:6rem;
    }
    nav a{
        align-items:center;
        font-size:25px;
        margin:0 1rem 0 1rem;
    }
    nav{
        display:block;
        margin:auto;
    }
    main p{
        font-size:20px;
    }
    ul{
        font-size:20px;
    }
    @media (min-width:1450px){
        h1{
            font-size:60px;
        }
        main img{
            width:600px;
        }
        .table img{
            padding:0 0 1rem 0;
        }
        main p{
            font-size:25px;
        }
        ul{
            font-size:25px;
        }
        @media (min-width:1550px){
            h1{
                font-size:72px;
            }
            .logo{
                width:9rem;
            }
            nav a{
                font-size:30px;
            }
            @media (min-width:1600px){
                h1{
                    font-size:90px;
                }
            }
        }
    }
}
}
